#sidenav-overlay { margin-left: 300px; }
#sidenav-overlay { z-index: 1; }
#sidenav-overlay { left: 300px; }
.navbar-fixed { z-index: 999; }

.story_top {
	background-color: '#FFFFFF';
}
.child_ {
	width: 70%;
	margin: auto;
}